body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

.general-space {
  padding: 50px 150px;
}

/* nav bar style  */
nav {
  display: flex;
  justify-content: space-between;
}
.nav-font {
  font-size: 1.5em;
  font-weight: 700px;
}
span a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  padding-right: 15px;
  font-weight: 700;
}
/* nav style end  */

/* 1st section style  */

.first-section {
  display: flex;
  justify-content: center;
}
.header-pg {
  width: 582px;
  margin-right: 150px;
}
.header-pg h1 {
  font-size: 50px;
}

.fa-arrow-right {
  padding: 10px;
}
.header-pg p {
  margin-bottom: 20px;
}
.header-pg a {
  color: white;
  text-decoration: none;
  background-color: #6867ac;
  border-radius: 41px;
  padding: 10px 24px;
}

/* 1st section style end */

/* 2nd section style  */
.sec-two-heading {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin-top: 80px;
}
.gears {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  justify-items: center;
}
.gear {
  width: 300px;
  height: 500px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 8px 5px 5px grey;
  background-color: white;
}

.gear h1,
p {
  margin: 10px 0 0 0;
}

.amount {
  font-size: 24px;
  margin-top: 0;
}
.fa-star {
  font-size: 12px;
}
.star-color {
  color: #fb8200;
}
.rating-gap {
  margin-left: 10px;
}

/* arrow  */
.arrow {
  display: flex;
  justify-content: flex-end;
  padding: 60px 80px 0px 0px;
}
.arrow a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: #6867ac;
}

/* Up comming product  */
.new-product {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px 0 70px;
}
.product {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.product img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 8px 5px 5px grey;
}

/* footer  */
footer {
  color: white;
  text-align: center;
  background-color: #6867ac;
  padding: 25px 0;
}
footer h1 {
  margin-bottom: 0;
}
footer p a {
  text-decoration: none;
  color: white;
  padding-right: 15px;
}

/* footer end  */

/* media queries  */

@media (max-width: 500px) {
  .general-space {
    padding: 0;
  }
  .navigation {
    display: none;
  }

  .first-section {
    display: flex;
    flex-direction: column;
  }
  .header-pg {
    width: 500px;
    text-align: center;
    order: 2;
  }
  .header-pg p {
    width: 100%;
  }

  .header-pg div img {
    order: 1;
  }
  .gears {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    justify-items: center;
  }
  .new-product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    padding: 30px 0px 30px 0px;
    margin: 0px 100px;
  }
}
